@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

:root{
    --preto: black;
    --branco: white;
    --cinza: rgb(221, 220, 220);
    --verde: rgb(6, 184, 6);
    --verdec: rgb(82, 219, 82);
    --corprojeto1: rgb(172, 10, 10);
    --corprojeto2: rgb(224, 16, 16);
    --corprojeto3: rgb(151, 42, 42);
    --corprojeto4: rgb(170, 170,21);
    --corprojeto5: rgb(247, 247, 7);
    --corprojeto6: rgb(255, 136, 0);    
}

/* Configurações do site */
*{
    margin: 0;
    border: 0;
    padding: 0;
}

html{font-family: Arial, Helvetica, sans-serif; font-size: 1em; scroll-behavior: smooth;}

header{
    background: linear-gradient(var(--corprojeto6), var(--corprojeto1), var(--corprojeto1)); 
    color: var(--branco); 
    position: fixed;
    width: 100%;
    margin: 0;
}

nav{display: block; text-align: center; font-size: 1.3em; word-spacing: 40px;}

a{text-decoration: none; color: var(--branco); font-weight: bold;}

a:hover{color: var(--corprojeto5);}

footer{
    background: linear-gradient(var(--corprojeto1), var(--corprojeto1), var(--corprojeto1), 
      var(--corprojeto1), var(--corprojeto6)); 
    color: var(--branco); 
    text-align: center;
    font-family: "Delius", cursive; 
    font-weight: bold;
}

body{background-color: var(--cinza);}

main{
    background-color: var(--branco); 
    padding: 1%; 
    margin: auto; 
    width: 90%;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px;
}

aside{
    background-color: var(--branco); 
    padding: 1%; 
    margin: auto; 
    width: 90%;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px;
}

/* Configurações de links de produtos */
.menu{
    color: var(--branco);
    background-color: var(--corprojeto1);
    border-radius: 10px;
    padding: 2px;
    box-shadow: 2px 2px 2px var(--corprojeto6);
    font-size: 1.4em;
}

/* Configurações de título */
h1{
    font-size: 2.5em; 
    margin-top: 1%;
    text-align: center; 
    color: var(--corprojeto1);
    font-family: "Delius", cursive;
    text-shadow: 1px 1px 1px var(--corprojeto6);
}
h2{
    font-size: 1.7em; 
    color: var(--corprojeto1); 
    text-align: center; 
    text-shadow: 1px 1px 1px var(--corprojeto6);
    font-family: "Delius", cursive;
}

/* Configurações de títulos para dispositivos móveis */

@media(min-width: 320px) and (max-width: 1024px){
    h1{
        font-size: 1em; 
        margin-top: 1%;
        text-align: center; 
        color: var(--corprojeto1);
        font-family: "Delius", cursive;
        text-shadow: 1px 1px 1px var(--corprojeto6);
    }
    h2{
        font-size: 1.3em; 
        color: var(--corprojeto1); 
        text-align: center; 
        text-shadow: 1px 1px 1px var(--corprojeto6);
        font-family: "Delius", cursive;
    }
}

h3{font-size: 2em;}
h4{font-size: 1em;}
h1, h2, h3, h4, h5, h6{padding-top: 0.5%; padding-bottom: 0.5%;}

/* Configurações de título para dispositivos móveis */
@media(min-width: 320px) and (max-width: 1024px){
    h1{font-size: 2.5em; margin-top: 10%;}
}

/* Configurações de imagem */
img{width: 100%; padding-top: 2%;}

#topo{width: 400px; height: 130px; display: block; margin: auto;}

@media(min-width: 320px) and (max-width: 1024px){
    #topo{width: 340px; height: 100px; display: block; margin: auto;}    
}

#rodape{width: 150px; height: 150px; display: block; margin: auto;}

@media(min-width: 320px) and (max-width: 1024px){
    #topo{width: 100px; height: 100px; display: block; margin: auto;}    
}

/* Configurações de parágrafos */
p{padding-top: 1%; padding-bottom: 1%;}

/* Configurações de parágrafos para dispositivos móveis */
@media(min-width: 320px) and (max-width: 1024px){
    p{padding-top: 3%; padding-bottom: 3%;}
}

/* Configurações de separadores com Divs */
.separador{margin-top: 10%;}
.separador-conteudo{margin-top: 0.5%;}
.separador-conteudo-opcoes{margin-top: 12%;}

 /* Configurações de divs para dispositivos móveis */
 @media(min-width: 320px) and (max-width: 1024px){
    .separador{margin-top: 32%;}
    .separador-conteudo{margin-top: 1%;}
    .separador-conteudo-opcoes{margin-top: 42%;}    
 }

 @media(min-width: 410px) and (max-width: 1024px){
    .separador{margin-top: 20%;}
    .separador-conteudo{margin-top: 1%;}
    .separador-conteudo-opcoes{margin-top: 30%;}    
 }

 @media(min-width: 540px) and (max-width: 1024px){
    .separador{margin-top: 16%;}
    .separador-conteudo{margin-top: 1%;}
    .separador-conteudo-opcoes{margin-top: 25%;}    
 }

 @media(min-width: 760px) and (max-width: 1024px){
    .separador{margin-top: 14%;}
    .separador-conteudo{margin-top: 1%;}
    .separador-conteudo-opcoes{margin-top: 17%;}    
 }

 @media(min-width: 1024px) and (max-width: 1366px){
    .separador{margin-top: 10%;}
    .separador-conteudo{margin-top: 1%;}
    .separador-conteudo-opcoes{margin-top: 14%;}    
 }

 /* Configurações do grid */
 .grid-conteudo{background-color: var(--branco); padding: 0.5%; font-family: "Delius", cursive;}
 
 .grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1024px;
    margin: auto;
    gap: 8px;
 }

 .grid div{
    background-color: var(--branco);
    text-align: center; 
    padding: 2px;
    box-shadow: 1px 1px 1px 2px var(--corprojeto6);
    border-radius: 20px;
    margin-top: 10px;
}

.grid div img{border-radius: 7%;}


 /* Configurações para botão */
 button{
    padding: 8px 20px 8px 20px;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3em;
    display: block;
    margin: auto;
    transition: 0.4s ease;
 }

 button:hover{background: var(--verdec); text-shadow: 1px 1px var(--preto);}

 /* WhatsApp */
 #whatsapp{
    width: 70px;
    height: 50px;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    margin: 4em;
    font-family: "Delius", cursive;
 }

 @media(min-width: 320px) and (max-width: 1024px){
    #whatsapp{
        width: 70px;
        height: 30px;
        right: 0;
        bottom: 0;
        position: fixed;
        text-align: center;
        margin: 5em;
        margin-right: 10px;
     }
 }    